
@{
    ViewBag.Title = "WhiteBoard";
}

<h2>WhiteBoard</h2>

<div style="margin:3px;">
    <div>
        <label for="color">Color:</label>
        <select id="color"></select>
    </div>
   
    <canvas id="canvas" width="300" height="300" style="border:2px solid; cursor:alias"></canvas>
   
    <div>
        <button id="clear">Clear canvas</button>
    </div>
</div>
