@{
     Layout = "~/Views/Shared/_Layout.cshtml";
 }
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>All Sectors Virtual Classroom</h1>
    <img src="~/Content/images/main-headar.jpg" style="max-width:100%;height:auto;" />
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registration</h3>
            </div>
            <div class="panel-body">
                <p>Register today and get the best flexible learning environment</p>
                <p><a class="btn btn-default" href="#">Register &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sign In</h3>
            </div>
            <div class="panel-body">
                <p>Sign in and enjoy the innovative features of the All Sectors Virtual Academy!!!</p>
                <p><a class="btn btn-default" href="#">Log In &raquo;</a></p>
            </div>
        </div>

    </div>

    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Know more about All Sectors Group</h3>
            </div>
            <div class="panel-body">
                <p>You want to know more about about All Sectors Group click the link below.</p>
                <p><a class="btn btn-default" href="#">Click me! &raquo;</a></p>
            </div>
        </div>

    </div>

</div>


